<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">认证商家</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item">
                <div class="pull-left company-feature" style="overflow:hidden">
                    <imageview src="staticImageUrl + result.company.logo" data-rate="1"></imageview>
                </div>
                <div>
                    <h5>{{result.company.name}} 
                    <span class="pull-right" ng-if="is_authen == '0'">审核中</span>
                    <span class="pull-right text-primary" ng-if="is_authen == '1'">审核通过</span>
                    </h5>
                    <div style="margin-bottom:5px;">
                        <i class="kk-icon kk-16 kk-shi" ng-if="result.company.is_real_name == '1'"></i>
                        <i class="kk-icon kk-16 kk-bao" ng-if="result.company.is_guarantee == '1'"></i>
                        <i class="kk-icon kk-16 kk-v{{result.company.v}}"></i>
                    </div>
                </div>
            </div>
            <div class="divide divide-10"></div>
            <div class="list-group-item">
                负责人：<b>{{result.company.incharge}}</b>
            </div>
            <div class="list-group-item">
                联系电话：<b>{{result.company.telephone}}</b>
            </div>
            <div class="list-group-item">
                公司地址：<b>{{result.company.address}}</b>
            </div>
            <div class="list-group-item">
                <div>营业执照</div>
                <imageview data-rate="750/449" src="staticImageUrl + result.company.business"></imageview>
            </div>
            <div class="list-group-item">
                <div>简介</div>
                <b>{{result.company.info}}</b>
            </div>
        </div>
    </div>
</div>
