<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">认证商家</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item">
                <div class="pull-left company-feature" style="overflow:hidden">
                	<imageview src="company_logo" data-rate="1"></imageview>
                </div>
                <div>
                    <h5>迅销商贸有限公司 <span class="pull-right">审核中</span></h5>
                    <div style="margin-bottom:5px;">
                        <i class="kk-icon kk-16 kk-shi"></i>
                        <i class="kk-icon kk-16 kk-bao"></i>
                        <i class="kk-icon kk-16 kk-v1"></i>
                    </div>
                </div>
            </div>
            <div class="divide divide-10"></div>
            <div class="list-group-item">
                负责人：<b>龙岗</b>
            </div>
            <div class="list-group-item">
                联系电话：<b>075533016593</b>
            </div>
            <div class="list-group-item">
                公司地址：<b>布吉街道萝岗建盈工厂房C栋</b>
            </div>
            <div class="list-group-item">
                <div>营业执照</div>
                <imageview data-rate="750/449"></imageview>
            </div>
            <div class="list-group-item">
                <div>简介</div>
                <b>简介</b>
            </div>
        </div>
    </div>
</div>