<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">红包</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="scrollable-header bonus-header">
			<div class="back-action" ng-click="back()"><i class="fa fa-chevron-left"></i></div>
			<div class="nav-action" ng-click="queryBonusRecords()">红包记录</div>
			<div class="title text-center">红包</div>
			<imageview src="imageview_src" data-rate="640/270"></imageview>
		</div>
		<div class="bonus-items">
			<div class="bonus-item" ng-click="envelopeBonus(bonus.user_bonus_id)" ng-repeat="bonus in bonus_list">
				<div class="bonus-content">
					<img src="../images/bonus.png" class="pull-left" alt="">
					<div class="bonus-meta">{{bonus.note}}</div>
					<div class="bonus-meta">领取红包</div>
				</div>
				<div class="bonus-footer">
					{{bonus.name}}
				</div>
			</div>
			<div class="section text-center m" ng-click="loadMore()">{{page.message}}</div>
		</div>
		<div class="scrollable-footer bg-primary text-white text-center">
			<div class="section bg-transparent" ng-click="sendBonus()">发红包</div>
		</div>
	</div>
</div>