<section class="section container-fluid">
    <div>
        信息详情：/info?id=:id <a ng-href="#/info">开发中</a>
    </div>
    <div>
        兼职详情：/partime?id=:id <a ng-href="#/partime">开发中</a>
    </div>
    <div>
        企业详情：/partime/company?id=:id <a ng-href="#/partime/company?&id={{id}}">开发中</a>
    </div>
    <div>
        红包：/bonus?token=:token <a ng-href="#/bonus?token={{token}}">Try it</a>
    </div>
    <div>
        领红包：/bonus/envelope?token=:token&id=:id <a ng-href="#/bonus?token={{token}}&id={{id}}">Try it</a>
    </div>
    <div>
        红包记录-发出：/bonus/paid?token=:token <a ng-href="#/bonus/paid?token={{token}}">Try it</a>
    </div>
    <div>
        红包记录-收到：/bonus/received?token=:token <a ng-href="#/bonus/received?token={{token}}">Try it</a>
    </div>
    <div>
        推广收入：/income?token=:token <a ng-href="#/income?token={{token}}">开发中</a>
    </div>
    <div>
        信息管理：/management/info?token=:token&id=:id <a ng-href="#/management/info?token={{token}}&id={{id}}">开发中</a>
    </div>
    <div>
        兼职管理：/management/partime?token=:token&id=:id <a ng-href="#/management/partime?token={{token}}&id={{id}}">开发中</a>
    </div>
    <div>
        认证商家：/authenication/company?token=:token <a ng-href="#/authenication/company?token={{token}}">开发中</a>
    </div>
    <div>
        认证车主：/authenication/car_owner?token=:token <a ng-href="#/authenication/car_owner?token={{token}}">开发中</a>
    </div>
    <h4>FUNCTION</h4>
    <div>
      sendBonus[function]发送红包
    </div>
</section>
