<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item">
                <h4>信息详情:</h4>
                <div><b>path</b></div>
                <div>/info</div>
                <div><b>params</b></div>
                token,info_id,user_latitude,user_longitude
                <p><a ng-href="#/info?token=41636ebf2995edd27ac90fbecf04654a&info_id=1&user_latitude=23.333&user_longitude=190.222">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>兼职详情:</h4>
                <div><b>path</b></div>
                <div>/partime</div>
                <div><b>params</b></div>
                token,job_id
                <p><a ng-href="#/partime?token=41636ebf2995edd27ac90fbecf04654a&job_id=1">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>企业详情:</h4>
                <div><b>path</b></div>
                <div>/partime/company</div>
                <div><b>params</b></div>
                token,company_id
                <p><a ng-href="#/partime/company?token=41636ebf2995edd27ac90fbecf04654a&company_id=1">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>拼车详情:</h4>
                <div><b>path</b></div>
                <div>/ping</div>
                <div><b>params</b></div>
                token,driver_publish_id
                <p><a ng-href="#/ping?token=4&driver_publish_id=13">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>红包:</h4>
                <div><b>path</b></div>
                <div>/bonus</div>
                <div><b>params</b></div>
                token
                <p><a ng-href="#/bonus?token=41636ebf2995edd27ac90fbecf04654a">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>领红包:</h4>
                <div><b>path</b></div>
                <div>/bonus/envelope</div>
                <div><b>params</b></div>
                token,user_bonus_id
                <p><a ng-href="#/bonus/envelope?token=41636ebf2995edd27ac90fbecf04654a&user_bonus_id=292">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>红包记录-发出:</h4>
                <div><b>path</b></div>
                <div>/bonus/paid</div>
                <div><b>params</b></div>
                token
                <p><a ng-href="#/bonus/paid?token=41636ebf2995edd27ac90fbecf04654a">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>红包记录-收到:</h4>
                <div><b>path</b></div>
                <div>/bonus/paid</div>
                <div><b>params</b></div>
                token
                <p><a ng-href="#/bonus/received?token=41636ebf2995edd27ac90fbecf04654a">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>福袋记录-许愿:</h4>
                <div><b>path</b></div>
                <div>/fudai/willing</div>
                <div><b>params</b></div>
                token
                <p><a ng-href="#/fudai/willing?token=93b2a850879987dffffb91dc49a95bfc">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>福袋记录-捞到:</h4>
                <div><b>path</b></div>
                <div>/fudai/recevied</div>
                <div><b>params</b></div>
                token
                <p><a ng-href="#/fudai/received?token=93b2a850879987dffffb91dc49a95bfc">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>推广收入:</h4>
                <div><b>path</b></div>
                <div>/income</div>
                <div><b>params</b></div>
                income,share_code
                <p><a ng-href="#/income?income=3600&share_code=7758258">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>账单流水:</h4>
                <div><b>path</b></div>
                <div>/bills</div>
                <div><b>params</b></div>
                income,share_code
                <p><a ng-href="#/bills?token=41636ebf2995edd27ac90fbecf04654a">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>信息管理-信息详情:</h4>
                <div><b>path</b></div>
                <div>/management/info</div>
                <div><b>params</b></div>
                token,info_id,user_latitude,user_longitude
                <p><a ng-href="#/management/info?token=41636ebf2995edd27ac90fbecf04654a&info_id=1&user_latitude=23.333&user_longitude=190.222">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>兼职管理-兼职详情:</h4>
                <div><b>path</b></div>
                <div>/management/partime</div>
                <div><b>params</b></div>
                token,job_id
                <p><a ng-href="#/management/partime?token=41636ebf2995edd27ac90fbecf04654a&job_id=1">Try it</a></p>
            </div>
            <div class="list-group-item">
                <h4>认证商家:</h4>
                <div><b>path</b></div>
                <div>/authenication/company</div>
                <div><b>params</b></div>
                token,is_authen=0审核中,is_authen=1审核通过
                <p><a ng-href="#/authenication/company?token=4&is_authen=1">Try it</a></p>
            </div>
            <div class="divide divide-10"></div>
            <div class="list-group-item">
                <h4>FUNCTION</h4>
                <div>
                    <span class="text-primary">androidBack/iosBack</span>[function]返回
                </div>
                <div>
                    <span class="text-primary">toLogin</span>[function]登录
                </div>
                <div>
                    <span class="text-primary">sendBonus</span>[function]发送红包
                </div>
                <div>
                    <span class="text-primary">share</span>[function]分享
                </div>
                <div>
                    <span class="text-primary">getLocation</span>[function]定位导航
                    <p>ps:params.from == 'company'从企业详情导航;ps:params.from == 'partime'从兼职详情导航</p>
                </div>
                <div>
                    <span class="text-primary">dial</span>[function]拨号
                </div>
                <div>
                    <span class="text-primary">editInfo</span>[function]编辑信息
                </div>
                <div>
                    <span class="text-primary">editPartime</span>[function]编辑兼职
                </div>
                <div>
                    <span class="text-primary">save</span>[function]收藏
                </div>
                <div>
                    <span class="text-primary">unsave</span>[function]取消收藏
                </div>
                <div>
                    <span class="text-primary">queryRelativeJobs</span>[function]获取商家其他兼职
                </div>
            </div>
        </div>
    </div>
</div>
