<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">信息详情</div>
<div ui-content-for="navbarAction">
	<span class="btn" ng-click="share()"><i class="kk-icon kk-share-2"></i></span>
</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="info-banner" ui-turn-on="preview_panel">
            <imageview data-rate="750/449" src="staticImageUrl + result.images[0].image"></imageview>
            <span class="tip">点击查看更多</span>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <h5>{{result.info.title}}</h5>
                <div style="margin-bottom:5px;">
                    <i class="kk-icon kk-16 kk-shi" ng-if="result.is_real_name == '1'"></i>
                    <i class="kk-icon kk-16 kk-bao" ng-if="result.is_guarantee == '1'"></i>
                    <i class="kk-icon kk-16 kk-v{{result.v}}"></i> {{result.info.tip}}
                </div>
                <div style="margin-bottom:5px;">
                    <i class="kk-icon kk-16 kk-location"></i><span>{{result.info.area}}-{{result.info.distance}}</span>
                    <i class="kk-icon kk-16 kk-time"></i><span>{{result.info.post_time}}</span>
                </div>
                <div class="text-large text-primary">
                    {{result.info.price|currency:"￥"}}
                </div>
            </div>
            <div class="divide divide-10"></div>
            <div class="list-group-item">
                服务：<b>由{{result.name}}提供</b>
            </div>
            <div class="list-group-item">
                提示：<b>该商家
                <span ng-if="result.is_real_name == '1' || result.is_guarantee == '1'">已经</span>
                <span ng-if="result.is_real_name == '1'">实名认证</span>
                <span ng-if="result.is_guarantee == '2'">缴纳保证金</span>
                <span ng-if="!(result.is_real_name == '1' || result.is_guarantee == '1')">为自主商家，用户自己留意</span>
                </b>
            </div>
            <div class="divide divide-10"></div>
            <div class="list-group-item">
                <div>服务详情</div>
                <b>{{result.info.details}}</b>
            </div>
            <div class="list-group-item clearfix" ng-click="getLocation()">
                详细地址：<b>{{result.info.address}}</b>
                <span class="pull-right"><i class="kk-icon kk-map"></i></span>
            </div>
        </div>
    </div>
    <div class="scrollable-footer">
        <div class="info-action">
            <span ng-click="dial()">{{result.incharge}}<i class="text-large">{{result.telephone}}</i></span>
            <i class="kk-icon kk-40 kk-save pull-right bg-white" ng-if="result.is_collect == '1'" ng-click="unsave()"></i>
            <i class="kk-icon kk-40 kk-unsave pull-right bg-white" ng-if="result.is_collect != '1'" ng-click="save()"></i>
            <i class="kk-icon kk-40 kk-phone pull-right bg-white" ng-click="dial()"></i>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="preview_panel" ui-state='preview_panel'>
        <!-- <div class="modal-backdrop"></div> -->
        <div class="modal-dialog scrollable-dialog" style="margin:0">
            <div class="section" ui-turn-off="preview_panel">
                <span class="close-1">
                    X
                </span>
            </div>
            <!-- banner -->
            <previewer data-options="{autoPlay:10000}" class="previewer" data-rate="750/950">
                <div class="image-holder full-width full-height text-center" ng-repeat="b in result.images" on-repeat-done>
                    <img ng-src="{{staticImageUrl + b.image}}" err-src="../images/default.jpg" show-on-loaded alt="">
                </div>
            </previewer>
        </div>
    </div>
</div>